[class*="node"] {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}

[class*="options"] {
    float: left;
    width: 110px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.game_controls {
    clear: both;
    text-align: center;
}
.grid {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.eligible {
    min-width: 1100px;
    max-width: 1100px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.available {
    clear: both;
    text-align: center;
}

input[type=text] {
    width: 100%;
    border: none;
    height: 100%;
    font-size: 22px;
    text-align: center;
}

input:not([type=text]) {
    font-size: 14;
    width: 100px;
}

.preset_value {
    background-color: #ffc8c8;
}
.gameboard_row {
    clear: both;
    width: 300px;
    margin: auto;
}
.game_controls {
    text-align: center;
    padding-top: 20px;
}
.user_button {
    border-radius: 10px;
    background-color: #9ce2d4;
    width: 100px;
    font-family: Verdana;
    padding: 4px;
}