[class*="node"] {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
}
[class*="options"] {
    float: left;
    width: 95px;
    height: 50px;
    text-align: center;
}
/* Put border on the bottom & left of every gameboard node */
.gameboard-row {
    border-left: 1px solid black;
    border-bottom: 3px solid black;
}
/* Put border on the top of the 1st row only */
.row-one {
    border-top: 1px solid black;
}
/* Put border on the right of the column nine only */
.col-nine {
    border-right: 1px solid black;
}
.game_controls {
    clear: both;
    text-align: center;
}
.grid {
    float: left; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.instructions {
    font-family: verdana;
    font-size: 17px;
}
.eligible {
    min-width: 864px;
    max-width: 864px;
    width: 864px;
    margin: auto;
}
input[type=text] {
    width: 100%;
    border: none;
    height: 100%;
    font-size: 22px;
    text-align: center;
}
input:not([type=text]) {
    font-size: 14px;
    width: 100px;
    letter-spacing: -1px;
    height: 100%;
    border: none;
    padding: 0px;
    text-align: center;
    border: 1px solid black;
}
.preset_value {
    background-color: #ffc8c8;
}
.gameboard_row {
    clear: both;
    width: 300px;
    margin: auto;
}
.game_controls {
    text-align: center;
    padding-top: 20px;
    width: 50%;
}
.user_button {
    background-color: #137319;
    width: 100px;
    font-family: Verdana;
    padding: 4px;
    border-color: #137319;
    color: #efefef;
}
.user_button:hover {
    background-color: #016107;
    border-color: #016107;
    color: #efefef;
    font-style: italic;
}

.hint-header {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.gameboard-header {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

